---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Arbor">
  <main class="dark:text-white">
    <div class="container mx-auto px-4 py-16">
      <!-- Hero Section -->
      <section class="text-center mb-8">
        <h1 class="text-5xl font-bold mb-6 text-secondary-200">Arbor</h1>
      </section>

      <!-- Projects Section -->
      <section class="max-w-3xl mx-auto mb-16">
        <div class="bg-dark-500 p-8 text-xl">
            Arbor is a team of people curious about markets, pedagogy, and game design, run by <a href="https://rickiheicklen.com" target="_blank" class="text-secondary-500 hover:text-fuchsia-500 hover:underline transition-colors">Ricki Heicklen</a>.
            <br/>
            <br/>
            Some projects of ours include:
          <ul class="space-y-6 text-gray-300 leading-relaxed mt-6 text-lg">
            <li class="flex items-start">
              <span class="text-secondary-200 mr-3">•</span>
              <span>
                A <a href="https://trading.camp" target="_blank" class="text-secondary-500 hover:text-fuchsia-500 hover:underline transition-colors">trading bootcamp</a>, where we teach how to think like a trader using a play-money economy and trading games
              </span>
            </li>
            <li class="flex items-start">
              <span class="text-secondary-200 mr-3">•</span>
              <span>
                A <a href="https://arborsummer.camp/incubator" target="_blank" class="text-secondary-500 hover:text-fuchsia-500 hover:underline transition-colors">pedagogy incubator</a>, helping people with good ideas turn those into bootcamps and workshops
              </span>
            </li>
            <li class="flex items-start">
              <span class="text-secondary-200 mr-3">•</span>
              <span>
               A <a href="/?arbor-metagame=true" class="text-secondary-500 hover:text-fuchsia-500 hover:underline transition-colors">game design conference</a> in Berkeley, CA this September
              </span>
            </li>
          </ul>
        </div>
      </section>

      <!-- Contact Section
      <section class="text-center mt-16">
        <p class="text-gray-300">
          Interested in working with us? 
          <a href="mailto:hello@arbor.com" class="text-secondary-500 hover:text-fuchsia-500 hover:underline transition-colors">
            Get in touch
          </a>
        </p>
      </section> -->
    </div>
  </main>
</Layout> 